html{
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #130016;
}
h1{
    font-family: 'Poppins',sans-serif;
    color: whitesmoke;
    font-size: 4.3rem;
}
.login{
    background-color: #25002b;
    width: 50vw;
    height: 50vh;
    display: grid;
    place-items: center;
    border-radius: 20px;
}

.logar{
    width: 60%;
    background-color: #25002b;
    border: none;
    border-bottom:2px solid whitesmoke;
    outline: none;
    color: whitesmoke;
    font-family: 'Poppins',sans-serif;
    font-size: 1.6rem;
}
.senha{
    width: 60%;
    background-color: #25002b;
    border: none;
    border-bottom:2px solid whitesmoke;
    outline: none;
    color: whitesmoke;
    font-size: 1.6rem;
}
.material-symbols-outlined{
    color: whitesmoke;
    font-size: 2.9rem;
    position: relative;
    top: 67px;
    left: -17vw;

}
.button{
    width: 15vw;
    height: 25px;
    border-radius: 20px;
    border: none;
    background-color: #580166;
    font-family: 'Poppins',sans-serif;
    font-size: 1.6rem;
    color: whitesmoke;
}
.button:hover{
    background-color: #640174;
}
.button:active{
    background-color: #8f02a4;
}
