h1{
    text-align: center;
    font-family: 'Poppins',sans-serif;
}
main{
    display: grid;
    place-items: center;
}
main .imgetxt1{
    display: grid;
    place-items: center;

}
main .imgetxt1 img{
    width: 40vw;
    height: 40vh;
    border-radius: 20px;
}
main .imgetxt1 h2{
    font-family: 'Poppins',sans-serif;
}
main .imgetxt1 p{
    font-family: 'Poppins',sans-serif;
    text-align: center;
    margin: 30px;
}
main .imgetxt2{
    display: grid;
    place-items: center;
}
main .imgetxt2 img{
    width: 25vw;
    border-radius: 20px;
}
main .imgetxt2 h2{
    font-family: 'Poppins',sans-serif;
}
main .imgetxt2 p{
    font-family: 'Poppins',sans-serif;
    text-align: center;
    margin: 30px;
}
section{
    background-color: rgb(0, 81, 255);
    display: grid;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    color: whitesmoke;
    margin-bottom: 20px;
}
section .pokemon-picture{
    display: grid;
    place-items: center;
    background-color: rgb(224, 224, 224);
}
section img{
    width: 250px;
    height: 250px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
section h1{
    text-align: center;
}
section h2{
    text-align: center;
    font-size: 17px;
}
section .type{
    margin-left: 20px;
}
section .skill{
    margin-left: 20px;
}
section .weight{
    text-align: center;
}
section .height{
    text-align: center;
}