html{
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

header{
    width: 100vw;
    height: 120px;
    background-color: antiquewhite;
}
header img{
    width: 180px;
}